services:
  traefik:
    image: traefik:v3.7.1
    command:
      - "--providers.swarm=true"
      - "--providers.swarm.exposedByDefault=false"
      - "--providers.file.directory=/dynamic"
      - "--providers.file.watch=true"

      - "--entrypoints.web.address=:80"
      - "--entrypoints.web.http.redirections.entrypoint.to=websecure"
      - "--entrypoints.web.http.redirections.entrypoint.scheme=https"
      - "--entrypoints.websecure.address=:443"
      - "--entrypoints.websecure.http.tls=true"
    volumes:
      - /run/docker.sock:/var/run/docker.sock:ro
      - "{{ akasha_cloud_stack_directory }}/certs:/certs:ro"
      - "{{ akasha_cloud_stack_directory }}/dynamic:/dynamic:ro"
    ports:
      - "80:80"
      - "443:443"
    networks:
      - akasha_net

networks:
  akasha_net:
    name: {{ shared_net_name }}
    external: true
