[defaults]# Define your default inventory file
inventory = inventory/hosts.yaml
# Define your default vault password file (tracked locally, usually gitignored)
vault_password_file = .vault_pass
# Disable host key checking globally for this project
host_key_checking = False
